<h2>New room</h2>
<!-- <p>Find me in app/views/rooms/new.html.erb</p>-->

<%= render 'form', hotel: @room %>
<div class="controls">
  <%= link_to "« Back", admin_rooms_path, :class => "btn btn-back" %>
</div>
