<nav>
  <div class="container navbar">
    <div>
      <a href="/">Home</a>
    </div>
    <ul>
      <%= link_to "Hotels", admin_hotels_path %>
      <%= link_to "Rooms", admin_rooms_path %>
      <%= link_to "Bookings", admin_bookings_path %>
    </ul>
  </div>
</nav>