<nav>
  <div class="navbar">
    
      <h1 class="logo"><a href="/admin"><span class="logo-blue">tri</span><span class="logo-yellow">va</span><span class="logo-red">go</span><span class="logo-grey">-clone</span></a></h1>
    
    <ul>
      <li><%= link_to "Hotels", admin_hotels_path %></li>
      <li><%= link_to "Rooms", admin_rooms_path %></li>
      <li><%= link_to "Bookings", admin_bookings_path %></li>
    </ul>
  </div>
</nav>