
<h1>Hi <%= @user.email our hotel was deleted from our database%></h1>
<p>We are letting you know that your booking is not available  <%= @booking.room.hotel.name %></p>
<p>For that reason we will refund your purchase</p>
<p>Sorry for the inconvenience!</p>