
<h1>Hi <%= @user.email %></h1>
<h2>Your booking was deleted</h2>
<p>We are letting you know that your booking is not available  <%= @booking.room.hotel.name %></p>
<p>Sorry for the inconvenience!</p>