/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  font-family: sans-serif;
  color: #333;
  background-color: azure;
  margin: 0;
  padding: 0;
}

.logo {
  font-size: 1.5em;
  text-align: center;
}

.logo-blue {
  color: #027faf;
}

.logo-yellow {
  color: #f49027;
}

.logo-red {
  color: #c94a38;
}

.logo-grey {
  color: grey;
  font-size: 0.8em;
}

.placeholder-logo {
  font-size: 1.8em;
  text-align: center;
}

.login {
  font-size: 12px;
}

.login a {
  text-decoration: none;
  color: #027faf;
}

.login a:hover {
  text-decoration: underline;
  background-color: #f49027;
}

nav {
  font-size: 14px;
  color: black;
  text-decoration: none;
}

nav a {
  padding-bottom: 0.25em;
  text-decoration: none;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
}

nav li a:hover {
  background-color: palegoldenrod;
}

.navbar {
  display: flex;
  padding: 10px 30px;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}

.navbar a {
  margin-right: 5px;
  text-decoration: none;
  color: rgb(36, 36, 36);
  padding: 10px;
}

.container {
  /* max-width: 1200px; */
  width: 80%;
  margin: auto;
}

.controls {
  text-align: right;
  margin: 15px 0;
}
/* Buttons */
.btn {
  padding: 8px;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 1px #aaa;
}

.btn:hover {
  filter: contrast(200%);
}

.btn-new {
  background-color: #4cbb17;
}
.btn-back {
  background-color: blueviolet;
}
.btn-delete {
  background-color: #c94a38;
}
.btn-edit {
  background-color: cornflowerblue;
}
/* Containers */
.piece {
  border: 1px solid #555;
  box-shadow: 2px 2px 3px #aaa;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.piece img {
  display: block;
  border-radius: 10px;
}

.piece-right {
  margin-left: 20px;
  font-size: 0.8em;
  justify-content: left;
}

.piece-right a {
  text-decoration: none;
  color: #027FAF;
}

.piece-right a:hover {
  text-decoration: underline;
}
/* Table */
table {
  font-size: 0.8em;
  text-align: center;
  margin: 0 auto;
}

table img {
  display: block;
}

table a {
  text-decoration: none;
  color: #027FAF;
}

table th {
  background-color: #ccc;
  padding: 10px 0;
}

table td {
  padding: 5px 10px;
  background-color: #ddd;
}

#error_explanation {
  padding: 10px;
  background-color: #f49027;
}

form {
  background: #ddd;
  box-shadow: 2px 2px 3px #aaa;
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto;
}

form label {
  font-size: 0.8em;
  color: #555;
  display: inline-block;
  width: 130px;
}

.field {
  padding: 10px;
}

.field:hover {
  background-color: #aaa;
  border-radius: 5px;
}

form input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"] {
  font-size: 1.1em;
  width: 200px;
  height: 30px;
  border: none;
  padding-left: 10px;
}

.actions input {
  border-radius: 8px;
  border: none;
}