<h1>Hotels#index</h1>
<%= form_tag(hotels_path, {:method => 'get'}) do %>
    <%= text_field_tag(:search, params[:search]) %>
    <%= submit_tag('Search', :name => nil) %>
<% end %>
<ul>
<% @hotels.each do |hotel| %>
  <li><%= link_to hotel.name, controller: "hotels", action: "show", id: hotel  %></li>
<% end %>
</ul>
